//breakpoint
// $breakpoint-xs-min: 0; 
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

// color
$bg-colorFa: #fafafa;
$color-red: #ED4C5C;
$color-10: #101010;
$color-w: #ffffff;

// font-weight
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;

// font-size
$fs-14: 0.875rem;
$fs-18: 1.125rem;
$fs-36: 2.25rem;

// padding top/bottom
$padding-vertical: 90px;

// transition
$transition: .2s;
