@import '_vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@mixin lato {
  font-family: 'Lato', sans-serif;
}

@mixin innerV {
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;
}

@mixin a {
  text-decoration: none;
  color: $color-red;
  line-height: 140%;

  &:hover {
    color: lighten($color-red, 10%)
  }
}

@mixin btn{
  color: $color-w;
  font-size: $fs-14;
  font-weight: $fw-regular;
  border: 1px solid $color-w;
  border-radius: 6px;
  padding: 12px 28px;
  margin: 0;
  background-color: none;
  text-decoration: none;

  &:hover {
    background-color: $color-w;
    color: $color-red;
  }

  &--white {
    background-color: $color-w;
    color: $color-red;
    padding: 16px 52px;

    &:hover {
      background-color: transparent;
      border: 1px solid $color-w;
      color: $color-w;
    }
  }

  &--red {
    background-color: $color-red;
    outline-width: 0;
    border: none;
    cursor: pointer;

    &:hover {
      border: 1px solid $color-red;
    }
  }
}

@mixin btn-burger {
  display: none;
  margin-left: auto;
  background: none;
  cursor: pointer;
  outline-width: 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid $color-w;

  &__line {
    display: block;
    width: 16px;
    height: 2px;
    background-color: $color-w;

    & + & {
      margin-top: 4px;
    }
  }

  @media (max-width: $breakpoint-md-max) {
    display: block;
  }
}

@mixin title {
  font-size: $fs-18;
  font-weight: $fw-bold;
  margin-bottom: 35px;
}