@import '../css/normalize';
@import 'mixins.scss';
@import '_vars.scss';

// Common
body {
  @include lato;
  background-color: $color-w;
}

.section-outer {
  // max-width: 1440px;
  padding-right: 20px;
  padding-left: 20px;
}

.section-inner {
  max-width: 1110px;
  margin: 0 auto;
}

.btn {
  @include btn
}
// Common /

// header
.section-header {
  position: relative;
  height: 100vh;
  background-image: url('../assets/bg-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0;
  
  .section-header-bg {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-image: linear-gradient(
      to right, 
      rgba(213, 32, 71, 0.8) ,
      rgba(238, 61, 21, 0.8) ,
    );
    }
}
// header /

// nav
.section-nav {
  .section-inner {
    padding-top: 50px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {

  &-link {
    display: flex;
    align-items: center;
    text-decoration: none;

  &__title {
    color: $color-w;
    font-size: 1.125rem;
    margin-left: 7px;
  }

  }
}

.btn-burger {
  @include btn-burger;
}

.btn-x {
  display: none;
  background-color: transparent;
  color: #333;
  border: none;
  font-size: $fs-14;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 5px;
}

.nav-wrap-b {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 135px;
  justify-content: space-between;

  @media (max-width: $breakpoint-md-max) {
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 150px;
    height: 360px;
    background-color: $color-w;
  }
}

.nav-wrap {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $breakpoint-md-max) {
    display: flex;
    flex-direction: column;
    
  }
  

  &__item {
    @media (max-width: $breakpoint-md-max) {
      margin-bottom: 15px;
    }
    & + & {
      margin-left: 23px;

      @media (max-width: $breakpoint-md-max) {
        margin-left: 0;
        margin-bottom: 15px;
      }
    }

    &-link {
     text-decoration: none;
     font-size: $fs-14;
     color: $color-w;
     transition: $transition;

     @media (max-width: $breakpoint-md-max) {
      color: $color-red

     }

     &:hover {
       color: darken($color-w, 20%);
     }

     &--active {
       font-weight: $fw-bold;
     }
    }
  }
}

.drop-down-wrap {
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint-md-max) {
    display: flex;
    flex-direction: column;
  }
}

.drop-down {
  margin-left: auto;

  @media (max-width: $breakpoint-md-max) {
    margin-left: 0;
    margin-bottom: 20px;
  }

  &__language {
    background-color: transparent;
    color: $color-w;
    border: none;
    outline-width: 0;
    cursor: pointer;

    @media (max-width: $breakpoint-md-max) {
        color: $color-red;
    }
  }
}

.drop-down > form{ 
  display: flex;
  align-items: center;

  
}

.btn-wrap {
  margin-left: 20px;

  @media (max-width: $breakpoint-md-max) {
    margin-left: 0;
    margin-top: 10px;
    
  }
  .btn {
    @media (max-width: $breakpoint-md-max) {
      color: $color-red;
      border: 1px solid $color-red;
    }
  }
}

// nav /

// hero-image
.section-hero {
  
  
  .section-inner {
    .main-content {
      position: absolute;
      z-index: 1;
      top: 29%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;

      &__title {
        font-size: 4.5rem;
        font-weight: $fw-bold;
        color: $color-w;
        margin-bottom: 40px;

        @media (max-width: $breakpoint-xs-max) {
          font-size: 2.5rem; 
        }
      }
      
      &__subtitle {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5em;
        font-weight: $fw-regular;
        color: $color-w;
        margin-bottom: 60px;

        @media (max-width: $breakpoint-xs-max) {
          font-size: 1rem; 
        }
      }
    }
  }
}
// hero-image /

// video-section
.section-video {
  .section-inner {
    @include innerV
  }
}

.main-video {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $breakpoint-md-max) {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

}

.video-content {
  flex-basis: 40%;

  @media (max-width: $breakpoint-md-max) {
    margin-bottom: 50px;
    text-align: center;
  }
  
  &__title {
    font-size: $fs-36;
    line-height: 43px;
    margin-bottom: 55px;
  }

  &__subtitle {
    font-size: $fs-14;
    line-height: 1.4em;
    font-weight: $fw-regular;
    margin-bottom: 20px;
  }

  &__btn {
    a {
      @include a;
    }
  }
}

.video-img {
  display: flex;
  align-items: center;
  position: relative;

  
  &__image {
    margin-left: auto;
    
    img {
      width: 100%;
      height: auto;
    }
  }

  &__btn {
    position: absolute;
    margin-left: -6.5%;
  }
}
// video-section /

// overview
.section-overview {
  background-color: $bg-colorFa;
  .section-inner {
    @include innerV
  }
}

.main-overview {
  &__title {
    font-size: $fs-36;
    text-align: center;
    margin-bottom: 85px;
  }
  
  &-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 185px;

    @media (max-width: $breakpoint-md-max) {
      display: flex;
      flex-direction: column;
      max-width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    &-card {
      display: flex;
      justify-content: center;
      max-width: 350px;
      position: relative;

      & + & {
        margin-left: 20px;

        @media (max-width: $breakpoint-md-max) {
          margin-left: auto;
        }
      }

      @media (max-width: $breakpoint-md-max) {
        margin-bottom: 170px;
        margin-left: auto;
        margin-right: auto;

        &:last-child {
          margin-bottom: 0;
        }
        
      }

      &__img {
        img {
          width: 100%;
          height: auto;

        }
      }

      &__wrap {
        position: absolute;
        top: 63%;
        display: flex;
        justify-content: center;
        max-width: 255px;
        padding: 30px 20px;
        background-color: $color-w;
        border-radius: 8px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);

        @media (max-width: $breakpoint-md-max) {
          max-width: 95%;
        }
        
        &-w {
          width: 225px;
          text-align: center;
        
          &--title {
            font-size: $fs-18;
            font-weight: $fw-bold;
            line-height: 22px;
            margin-bottom: 20px;
          }

          &--subtitle {
            font-size: 0.75rem;
            line-height: 150%;
            margin-bottom: 30px;
          }

          a {
            @include a;
          }
        }
      }
    }
  }
}
// overview /

// features-section
.section-features {
  .section-inner {
    @include innerV
  }
}

.main-features {
  
  &__title {
    text-align: center;
    font-size: $fs-36;
    padding-bottom: 70px;
  }

  &-cards {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-md-max) {
      display: flex;
      flex-direction: column;
      max-width: 30%;
      margin-left: auto;
      margin-right: auto;
    }
    
    &-card {
      max-width: 255px;
      text-align: center;

      @media (max-width: $breakpoint-md-max) {
        margin-bottom: 50px;
      }
      
      &__wrap {
        position: relative;
        
        &-num {
          color: rgba(16, 16, 16, 0.08);
          font-size: 100px;
          font-weight: $fw-bold;
          margin-bottom: 25px;
        }
  
        &-img {
          position: absolute;
          top: 50%;
          right: 0;
          left: 0;


        }
      }

      &__title {
        font-size: $fs-18;
        font-weight: $fw-bold;
        line-height: 22px;
        margin-bottom: 10px;
      }

      &__subtitle {
        font-size: 1rem;
      }
    }

  }
}
// features-section /

// app-download
.section-app {
  background-color: $color-red;

  .section-inner {
    @include innerV
  }
}

.main-app {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $breakpoint-md-max) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  &-content {
    color: $color-w;
    max-width: 455px;

    @media (max-width: $breakpoint-md-max) {
      margin-bottom: 50px;
    }

    &__title {
      font-size: $fs-36;
      line-height: 43px;
      margin-bottom: 50px;
    }

    &__subtitle {
      font-size: $fs-14;
      line-height: 140%;
      margin-bottom: 45px;
    }

    &-social {
      display: flex;
      align-items: center;

      &__item {
        
        & + & {
          margin-left: 25px;
        }
        
        &-link {
          path {
            fill: $color-w;
            transition: $transition;
          }

          &:hover {
            path {
              fill: darken($color-w, 20%)
            }
          }
        }
      }
    }
  }

  &-img {
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    flex-basis: 50%;

    
    &-items {
      display: flex;
      
      @media (max-width: $breakpoint-sm-max) {
        display: none;
  
      }

      &__item-l {
        margin-right: 150px;
      }

      &__item-r {
        position: absolute;
        right: 0;
        
      }
    }

    &__item {
      position: absolute;
      right: 8%;

      img {
        width: 100%;
        height: auto;
      }

      @media (max-width: $breakpoint-sm-max) {
        position: relative;
        right: 0;
      }

      
    }
  }
}
// app-download /

// contact
.section-contact {
  .section-inner {
    @include innerV
  }
}

.main-contact {
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-md-max) {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  &-content {
    max-width: 440px;

    @media (max-width: $breakpoint-md-max) {
      order: 1;
    }

    &__title {
      font-size: $fs-36;
      line-height: 43px;
      margin-bottom: 60px;
    }

    &__subtitle {
      font-size: $fs-14;
      line-height: 140%;

      @media (max-width: $breakpoint-md-max) {
        margin-bottom: 50px;

      }
    }
  }

  &-form {
    flex-basis: 30%;

    @media (max-width: $breakpoint-md-max) {
      order: 2;
    }

    &-item {
      // width: 100%;
      margin-top: 15px;

      input[type=text], [type=tel] {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 100px;
        border: 1px solid #132743;
        border-radius: 6px;

        @media (max-width: $breakpoint-md-max) {
          width: 90%;
          padding-right: 0;
        }
      }

    }

    .btn {
      @include btn;
    }
  }
}
// contact /

// footer
.section-footer {
  background-color: $bg-colorFa;
  .section-inner {
    @include innerV
  }
}

.main-footer {
  color: $color-10;
  
  &-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    &-items {
      display: flex;
      justify-content: space-between;
      flex-basis: 40%;

      @media (max-width: $breakpoint-xs-max) {
        flex-direction: column;
        align-items: center;
      }
    }

    &-item {
      width: 220px;

      @media (max-width: $breakpoint-md-max) {
        margin-bottom: 50px;
      }

      & + & {
        margin-left: 20px;
        margin-bottom: 50px;

        @media (max-width: $breakpoint-md-max) {
          margin-left: 0px;
        }
      }
    }

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
      align-items: center;

    }

    &-address {
      &__title {
        @include title;
      }

      &-grid {
        &-items {
          padding: 0;
          margin: 0;
          &__item {
            list-style: none;
            font-size: 0.75rem;
            line-height: 150%;
          }
        }
      }
    }

    &-services {
      &__title {
        @include title
      }

      &-grid {
        &-items {
          padding: 0;
          margin: 0;
          &__item {
            list-style: none;
            font-size: 0.75rem;
            line-height: 160%;

            &-link {
              text-decoration: none;
              color: $color-10;
            }
          }
        }
      }
    }

    &-touch {
      &__title {
        @include title
      }

      &-grid {
        &-items {
          padding: 0;
          margin: 0;
          &-item {
            list-style: none;
            font-size: 0.75rem;
            line-height: 160%;
            margin-bottom: 20px;

            &-link {
              text-decoration: none;
              color: $color-10;
            }
          }

          &-item {
            &-soc {
              display: flex;
              align-items: center;
        
              &-item {
                
                & + & {
                  margin-left: 12px;
                }
                
                &__link {
                  path {
                    fill: $color-10;
                    transition: $transition;
                  }
        
                  &:hover {
                    path {
                      fill: darken($color-10, 20%)
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &-support {
      &__title {
        @include title;
      }
    }
  }

  &-copyright {
    font-size: 0.75rem;
    color: $color-10;
  }
}

// footer  /