@import '../css/normalize';
@import 'mixins.scss';
@import '_vars.scss';

// Common
body {
  @include lato;
  background-color: $color-w;
}

.section-outer {
  max-width: 1440px;
}

.section-inner {
  max-width: 1110px;
  margin: 0 auto;
}

.btn {
  @include btn
}
// Common /

// header
.section-header {
  position: relative;
  height: 100vh;
  background-image: url('../assets/bg-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  //   background-image: linear-gradient(
  //     to right, 
  //   rgba(213, 32, 71, 0.8) ,
  //   rgba(238, 61, 21, 0.8) ,
  //   )
  // }
  
  .section-header-bg {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-image: linear-gradient(
      to right, 
      rgba(213, 32, 71, 0.8) ,
      rgba(238, 61, 21, 0.8) ,
    );
    }
}
// header /

// nav
.section-nav {
  .section-inner {
    padding-top: 50px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__title {
    color: $color-w;
    font-size: 1.125rem;
    margin-left: 7px;
  }
}

.nav {
  margin-left: 160px;
}

.nav-wrap {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  

  &__item {
    & + & {
      margin-left: 23px;
    }
    &-link {
     text-decoration: none;
     font-size: $fs-14;
     color: $color-w;
     transition: $transition;

     &:hover {
       color: darken($color-w, 20%);
     }

     &--active {
       font-weight: $fw-bold;
     }
    }
  }
}

.drop-down {
  margin-left: auto;

  &__language {
    background-color: transparent;
    color: $color-w;
    border: none;
    outline-width: 0;
    cursor: pointer;

  }
}

.drop-down > form{ 
  display: flex;
  align-items: center;
}

.btn-wrap {
  margin-left: 20px;
}
// nav /

// hero-image
.section-hero {
  
  
  .section-inner {
    .main-content {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      position: absolute;
      z-index: 1;
      top: 29%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      max-width: 580px;

      &__title {
        font-size: 4.5rem;
        font-weight: $fw-bold;
        color: $color-w;
        margin-bottom: 40px;
      }
      
      &__subtitle {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5em;
        font-weight: $fw-regular;
        color: $color-w;
        margin-bottom: 60px;
      }
    }
  }
}
// hero-image /

// video-section
.section-video {
  .section-inner {
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
  }
}

.main-video {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.video-content {
  max-width: 445px;
  flex-basis: 50%;

  &__title {
    font-size: $fs-36;
    line-height: 43px;
    margin-bottom: 55px;
  }

  &__subtitle {
    font-size: $fs-14;
    line-height: 1.4em;
    font-weight: $fw-regular;
    margin-bottom: 20px;
  }

  &__btn {
    a {
      @include a;
    }
  }
}

.video-img {
  display: flex;
  align-items: center;
  width: 473px;
  background: #000;
  position: relative;
  border-radius: 15px;
  background-color: $color-w;
  
  &__image {
    margin-left: auto;
    object-fit: contain;
  }

  &__btn {
    position: absolute;
  }
}
// video-section /

// overview
.section-overview {
  background-color: $bg-colorFa;
  .section-inner {
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
  }
}

.main-overview {
  &__title {
    font-size: $fs-36;
    text-align: center;
    margin-bottom: 85px;
  }
  
  &-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 185px;

    &-card {
      max-width: 350px;
      position: relative;

      &__img {
        object-fit: contain;
      }

      &__wrap {
        position: absolute;
        top: 63%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        width: 255px;
        padding: 30px 20px;
        background-color: $color-w;
        border-radius: 8px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        
        &-w {
          width: 225px;
          text-align: center;

          &--title {
            font-size: $fs-18;
            font-weight: $fw-bold;
            line-height: 22px;
            margin-bottom: 20px;
          }

          &--subtitle {
            font-size: 0.75rem;
            line-height: 150%;
            margin-bottom: 30px;
          }

          a {
            @include a;
          }
        }
      }
    }
  }
}
// overview /

// features-section
.section-features {
  .section-inner {
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
  }
}

.main-features {
  &__title {
    text-align: center;
    font-size: $fs-36;
    padding-bottom: 70px;
  }

  &-cards {
    display: flex;
    justify-content: space-between;

    &-card {
      max-width: 255px;
      text-align: center;
      
      &__wrap {
        position: relative;
        
        &-num {
          color: rgba(16, 16, 16, 0.08);
          font-size: 100px;
          font-weight: $fw-bold;
          margin-bottom: 25px;
        }
  
        &-img {
          position: absolute;
          top: 50%;
          right: 0;
          left: 0;
        }
      }

      &__title {
        font-size: $fs-18;
        font-weight: $fw-bold;
        line-height: 22px;
        margin-bottom: 10px;
      }

      &__subtitle {
        font-size: 1rem;
      }
    }

  }
}
// features-section /

// app-download
.section-app {
  background-color: $color-red;

  .section-inner {
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
  }
}

.main-app {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-content {
    color: $color-w;
    max-width: 455px;

    &__title {
      font-size: $fs-36;
      line-height: 43px;
      margin-bottom: 50px;
    }

    &__subtitle {
      font-size: $fs-14;
      line-height: 140%;
      margin-bottom: 45px;
    }

    &-social {
      display: flex;
      align-items: center;

      &__item {
        
        & + & {
          margin-left: 25px;
        }
        
        &-link {
          path {
            fill: $color-w;
            transition: $transition;
          }

          &:hover {
            path {
              fill: darken($color-w, 20%)
            }
          }
        }
      }
    }
  }

  &-img {
    display: flex;
    align-items: center;
    position: relative;
    
    &-items {
      display: flex;
      max-width: 533px;

      &__item-l {
        margin-right: 150px;
      }

      &__item-r {
        position: absolute;
        right: 0;
        
      }
    }

    &__item {
      position: absolute;
      right: 8%;
    }
  }
}
// app-download /

// contact
.section-contact {
  .section-inner {
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
  }
}

.main-contact {
  display: flex;
  justify-content: space-between;

  &-content {
    max-width: 440px;

    &__title {
      font-size: $fs-36;
      line-height: 43px;
      margin-bottom: 60px;
    }

    &__subtitle {
      font-size: $fs-14;
      line-height: 140%;
    }
  }

  &-form {
    &__name {
      margin-bottom: 25px;

      &-f {
        padding: 20px 55px 20px 30px;
        margin-right: 30px;
      }

      &-l {
        padding: 20px 55px 20px 30px;

      }
    }

    input {
      border-radius: 6px;
      border: 1px solid #132743;
    }

    &__tel {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 340px;
      padding-left: 30px;
      margin-bottom: 30px;
    }

    &__select {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 365px;
      padding-left: 25px;
      margin-bottom: 30px;
      border-radius: 6px;
      border: 1px solid #132743;
    }
  }
}
// contact /

// footer
.section-footer {
  background-color: $bg-colorFa;
  .section-inner {
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
  }
}

.main-footer {
  color: $color-10;
  
  &-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    &-address {
      &__title {
        @include title;
      }

      &-grid {
        &-items {
          padding: 0;
          margin: 0;
          &__item {
            list-style: none;
            font-size: 0.75rem;
            line-height: 150%;
          }
        }
      }
    }

    &-services {
      &__title {
        @include title
      }

      &-grid {
        &-items {
          padding: 0;
          margin: 0;
          &__item {
            list-style: none;
            font-size: 0.75rem;
            line-height: 160%;

            &-link {
              text-decoration: none;
              color: $color-10;
            }
          }
        }
      }
    }

    &-touch {
      &__title {
        @include title
      }

      &-grid {
        &-items {
          padding: 0;
          margin: 0;
          &-item {
            list-style: none;
            font-size: 0.75rem;
            line-height: 160%;
            margin-bottom: 20px;

            &-link {
              text-decoration: none;
              color: $color-10;
            }
          }

          &-item {
            &-soc {
              display: flex;
              align-items: center;
        
              &-item {
                
                & + & {
                  margin-left: 12px;
                }
                
                &__link {
                  path {
                    fill: $color-10;
                    transition: $transition;
                  }
        
                  &:hover {
                    path {
                      fill: darken($color-10, 20%)
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &-support {
      &__title {
        @include title;
      }
    }
  }

  &-copyright {
    font-size: 0.75rem;
    color: $color-10;
  }
}
// footer /